@font-face{
    font-family: 'big';
    src: url(../DenseLetters-nRgDO.otf);
}

.beginning{
    background-image: url(../images/background.jpg);
    min-height: 42em;
}
.navbar{
   display: flex;
   justify-content: space-between;
}
.navbar-nav a{
    color: wheat;
    font-size: 20px;
    text-shadow: black 3px 3px 5px;
}
.dropdown-menu{
    background-color: rgb(187, 202, 172, 0.3);

}
.close{
    display: none;
}
.dropdown-menu a{
    color:black;
    text-shadow: rgb(131, 47, 2, 0.9) 3px 3px 5px;
    
}
a:hover{
    color: rgb(131, 47, 2, 0.9);
}

  .bar{
      color: wheat;
  }
  .closebtn{
      display: none;
  }
  
    header{
     margin-top: 300px;
     text-align: center;
     color: wheat;
     text-shadow: black 3px 3px 5px;
    }
h1{
    font-size: 50px;
    font-family: 'big';
    font-weight: 700;
}

h3{
    font-family: 'curl';
    font-weight: 500;
}

.button{
    background-color: rgb(131, 47, 2, 0.9);
    border-radius: 6px;
    box-shadow: black 3px 3px 5px;
   width: 12em;
   height: 2em;
    padding: 5px 10px;
    border: 0;
}
.button p{
    color: wheat;
    text-shadow: black 1px 1px 3px;
}
.searchterm{
    border-radius: 6px;
    box-shadow: black 3px 3px 5px;
   width: 12em;
   height: 2em;
    padding: 5px 10px;
    border: 0;
    margin-right: 5px;
} 

.rest{
    background-color: white;
}
.nhead, .why{
    margin: 0 20px 0 20px;
}
h2 {
    padding-top: 3em;
    text-align: center;
    font-family: 'big';
    color: wheat;
    text-shadow: black 3px 3px 5px;
}
.pictures, .festivals, .why, .tips{
    display: flex;
    padding-top: 1em;
    justify-content: space-between;
}
.pic{
    position: relative;
    margin: 10px;
}
.pic img{
    border-radius: 20px;
}
.place {
    bottom: 8px;
    left: 16px;
    font-size: 20px;
    color: wheat;
    text-shadow: black 3px 3px 5px;
    font-weight: 500; 
    position: absolute;
    }
h6{
    text-align: center;
 
}
.tips a{
    color: black; 
    text-shadow: rgb(131, 47, 2, 0.9) 3px 3px 5px;
    margin-bottom: 20px;
}
.why, h4{
    text-align: center;
}
footer{
    background-color: black;
}
.before{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;

}
.before h5{
    color: white;
    margin-bottom: 10px;
} 
.before p{
    color: white;
    font-size: 25px;
    margin-bottom: 0;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
}
.foot{
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
}
.about{
    width: 600px;
}
.faq, .contact{
    width: 300px;
}
.contact .button p{
    font-size: 18px;
}


@media screen and (max-width: 800px){
    .nav a {display: none;}
   
   .sidenav {
      width: 0;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: rgb(131, 47, 2, 0.9);
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      font-size: 20px;
      color: wheat;
      text-shadow: black 3px 3px 5px;
      text-align: center;
    }
    
    .sidenav a:hover {
      color:black;
      text-shadow: rgb(131, 47, 2, 0.9) 3px 3px 5px;
    }
    
   
    header {margin-top: 180px;
    }
    .searchterm {
        margin: 20px 0px 10px 0px;
    }
    .pictures, .festivals, .why{
        display: grid;
       justify-items: center;
    }
    
    .pic img{
        width: 100%;
    }
    .before{
        display: grid;
    }
    .about, .faq, .contact{
        margin-bottom: 50px;
    }

  }
@media screen and (max-device-width: 400px){
    header{margin-top: 60px;}
    header h1{margin-bottom: 20px;}
    .why{margin-top: 30px;}
    .tips{display: grid; justify-content: center;}
}
